$primary-color: #3a71ff;
$warning-color: #ef9c00;
$success-color: #31b573;
$error-color: #fe3333;
$info-color: #e9e8e8;
$text-primary-color: #333;
$text-regular-color: #666;
$text-secondary-color: #999;
$text-placeholder-color: #808080;
$body-background-color: #fff;
